Main {
  background-color: #202026;
  max-width: 540px;
  margin: 0 auto;
  border-radius: 15px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
}

.Container {
  background-color: #1c1c1c;
}
