h1 {
  color: #a2a8d3;
  font-size: 36px;
  text-align: center;
}
img {
  width: 258px;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: block;
  margin: 30px auto;
}
p {
  color: white;
  font-family: "Abel", sans-serif;
}
.Email {
  color: #1c1c1c;
}

.Info a {
  margin: 0 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  transition: all 100ms ease-in-out;
}

.Info a:hover {
  text-decoration: underline;
  color: #a2a8d3;
  background-color: #1c1c1c;
}
